name: Auto-Build
on:
  push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10
          
      - name: Build
        run: dotnet build -c release
